<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliotecanacional">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/books_margin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/books_margin"
        android:supportsRtl="true"
        android:theme="@style/Theme.BibliotecaNacional"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Librodetalle" />
    </application>

</manifest>